@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.fill-blue {
  filter: invert(11%) sepia(57%) saturate(4065%) hue-rotate(197deg) brightness(94%) contrast(101%);
}

body {
  background-color: #F6F6F6;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

*::placeholder {
  color: gray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cv-input, .cv-preview {
  height: 100dvh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cv-input::-webkit-scrollbar {
  display: none;
}

#root {
  display: flex;
  justify-content: space-between;
}

/* Information Input Section(s) Styling */

.cv-input {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 40%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.form-mod {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.info-div {
  background: white;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: auto;
  clear: none;
  gap: 2rem;
}

.info-head {
  display: flex;
  justify-content: space-between;
}

.info-title {
  width: 100%;
  border-bottom: 2px solid #003060;
}

.modification-btn {
  font-weight: bold;
  cursor: pointer;
}

input, textarea {
  width: 100%;
  padding: 1rem;
  background: #F6F6F6;
  outline: none;
  border: none;
  border-radius: 12px;
  font-size: 100%;
  transition: 300ms ease-in-out;
  border: 1px solid lightgray;
}

input:focus, textarea:focus {
  border: 1px solid #055C9D;
}

.work-exp, .skill-container, .edu-exp, .edu-container, .tsk-exp, .tsk-container, .soft-exp, .soft-container, .other-exp, .other-container {
  display: none;
}

.work-exp.work-active, .edu-exp.work-active, .tsk-exp.work-active, .soft-exp.work-active, .other-exp.work-active {
  display: flex;
  flex-direction: column;
}

.skill-container.work-active, .edu-container.work-active, .tsk-container.work-active, .soft-container.work-active, .other-container.work-active {
  display: flex;
}

.added-work-exp {
  width: 100%;
  padding: 1rem;
  background: #F6F6F6;
  outline: none;
  border: 1px solid #003060;
  border-radius: 12px;
  font-size: 100%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  color: #055C9D;
}

.added-work-exp button {
  background: none;
  color: #055C9D;
  border: none;
  padding: 0;
  cursor: pointer;
  font-weight: bold;
}

.added-task {
  background-color: #003060;
  color: white;
  padding: .5em;
  border-radius: 15px;
  display: flex;
  gap: 1rem;
}

.added-task button {
  background: none;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
}

.separate-submit {
  display: flex;
}

.info-input.ss {
  padding-right: 20px;
}

.ul-skill {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.submit-task {
  margin-left: -20px;
  background: none;
  color: #003060;
  border: none;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn {
  width: fit-content;
  background: none;
  color: #003060;
  border: 1px solid #003060;
  padding: .5em;
  font-size: medium;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: 150ms ease-in-out all;
}

.submit-btn:hover {
  background: #003060;
  color: white;
}

/* Live Preview Styling */
.right-panel {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-preview {
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: white;
  height: 862.5px;
  padding: 1rem;
  margin: 2rem;
  box-sizing: content-box;
}

.cv-preview h2 {
  color: #003060;
}

.cv-name-desc {
  width: 70%;
}

.cv-contacts {
  width: 30%;
}

.cv-name-desc, .cv-contacts {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  overflow-x: auto;
}

.cv-name-desc p {
  font-size: 14px;
}

.personal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

.cv-contact-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cv-contact-p {
  font-size: 12px;
}

.below-head {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 1rem;
  gap: 1.5rem;
}

.bh-left, .bh-right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bh-left {
  width: 60%;
}

.bh-right {
  width: 40%;
}

.bhrs {
  min-height: 25%;
}

.bhrs h5, .bhls h5 {
  border-bottom: 2px solid #003060;
}

.bhls {
  height: 50%;
}

.lrCheck {
  display: flex;
  align-items: center;
}

#lrSwitch {
  display: none;
}

label {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: lightgray;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  margin: 0 1rem;
}

label::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: all 0.3s;
}

#lrSwitch:checked + label {
  background-color: #003060;
}

#lrSwitch:checked + label::before {
  transform: translateX(20px);
}

.fp-inner-div {
  margin: .5rem 0;
}

.bhrs .fp-inner-header, .bhls .fp-inner-header {
  border: none;
}

.fp-inner-ul {
  list-style-position: inside;
}

.fp-inner-li {
  margin-left: 1em;
}

.fp-inner-p {
  font-size: 12px;
}